*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section1{
    background-color: hsl(218, 28%, 13%);

}
.navitems{
    padding: 1rem 3rem;
}
.navitems img{
     height: 2rem;
}
.navitems ul{
    list-style-type: none;
    float: right;
    padding-top: 0.5rem;
    
}

.navitems li{
    color: white;
    display: inline-block;
    margin-right: 2rem;
}

.illustration-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.illustration-img h1{
    text-align: center;
    color: white;
}

.illustration-img p{
    color:white;
    text-align: center;
   
}

.illustration-img .btn{
    width: 200px;
    padding: 10px;;
    background-color: hsl(176,68%,64%);
    color: white;
    border:none;
    text-align: center;
    border-radius: 20px;
    

}

